header.site-header
  .container
    .header-contenido
      ul#slide-out.sidenav
        li
          .user-view
            .background
              img(src='/static/img/bg.jpg')
            a(href='/admin/configuracion')
              img.circle(src=usuario.urlAvatar, alt=`${usuario.nombre} ${usuario.apellido}`)
            a(href='/admin/configuracion')
              span.white-text.name #{usuario.nombre} #{usuario.apellido}
            a(href='#/admin/configuracion')
              span.white-text.email #{usuario.email}
        li
          a(href="/admin")
            i.material-icons home
            | Inicio
        li.no-padding
          ul.collapsible.collapsible-accordion
            li
              a.collapsible-header
                i.material-icons arrow_drop_down
                | Gesti贸n de usuarios
              .collapsible-body
                ul
                  li
                    a(href='/admin/registrar-repartidor') Registrar Repartidor
                  li
                    a(href='/admin/plantilla-repartidores') Ver Repartidores
        li
          a(href="/admin/configuracion")
            i.material-icons settings
            | Configuraci贸n
        li
          a.waves-effect.waves-red(href="/admin/logout")
            i.material-icons power_settings_new
            | Cerrrar sesi贸n

      a.sidenav-trigger.white-text(href='#', data-target='slide-out')
        i.material-icons menu
      h1.titulo Panel de Administraci贸n