doctype html
html(lang='es-MX')
  include ../includes/head
  body
    include ../includes/navbar
    #contenido.contenido
      h3.center-align Historial de compras
      hr
      h5.center-align Este mes
      input(type="hidden", value=usuario.idUsuario, id="usuario-clave")
      if errorHistorial
        p= errorHistorial
      else
        .row
          each infoPedido in pedidos
            - let { pedido, entregadoEl } = infoPedido
            - let { Articulos: articulos } = pedido
            - let articulosMostrar = articulos.length > 3 ? articulos.slice(0, 3) : articulos
            .col.m6.s12.htry-select
              p Usted pagó: $#{pedido.total}
              p.color-text-noentregado Entregado el #{entregadoEl}
              .row.valign-wrapper
                .col.s12.htry-list
                  each articulo in articulosMostrar
                    li #{articulo.descripcion}. Cantidad #{articulo.cantidad}
                  if articulos.length > 3
                    span #{articulos.length - 3} artículos más
              hr
          else
            p Aún no ha realizado pedidos
            a(href="/usuarios") ¿Desea realizar alguno?
               
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js', defer)
    script(src="https://cdn.jsdelivr.net/npm/sweetalert2@9", defer)
    script(src="/socket.io/socket.io.js", defer)
    script(src="/static/js/app.js", defer)